<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zju.sms.record.mapper.AgentRechargeRecordMapper" >
  <resultMap id="BaseResultMap" type="com.zju.sms.record.domain.AgentRechargeRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="agentId" property="agentId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from `agentrechargerecord`
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zju.sms.record.domain.AgentRechargeRecord" useGeneratedKeys="true" keyProperty="id" >
    insert into `agentrechargerecord` (agentId, type, date, 
      name, number, comment
      )
    values (#{agentId,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{date,jdbcType=TIMESTAMP}, 
      #{name,jdbcType=VARCHAR}, #{number,jdbcType=INTEGER}, #{comment,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zju.sms.record.domain.AgentRechargeRecord" >
    update `agentrechargerecord`
    set agentId = #{agentId,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP},
      name = #{name,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      comment = #{comment,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, agentId, type, date, name, number, comment
    from `agentrechargerecord`
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, agentId, type, date, name, number, comment
    from `agentrechargerecord`
  </select>
</mapper>