<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zju.sms.record.mapper.ReceiveRecordMapper" >
  <resultMap id="BaseResultMap" type="com.zju.sms.record.domain.ReceiveRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userId" property="userId" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="context" property="context" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from `receiverecord`
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zju.sms.record.domain.ReceiveRecord" useGeneratedKeys="true" keyProperty="id" >
    insert into `receiverecord` (userId, phone, context, 
      date)
    values (#{userId,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{context,jdbcType=VARCHAR}, 
      #{date,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zju.sms.record.domain.ReceiveRecord" >
    update `receiverecord`
    set userId = #{userId,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      context = #{context,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, userId, phone, context, date
    from `receiverecord`
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, userId, phone, context, date
    from `receiverecord`
  </select>
</mapper>