<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zju.sms.record.mapper.UserRechargeRecordMapper" >
  <resultMap id="BaseResultMap" type="com.zju.sms.record.domain.UserRechargeRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userId" property="userId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from `userrechargerecord`
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zju.sms.record.domain.UserRechargeRecord" >
    insert into `userrechargerecord` (id, userId, type, 
      date, number, comment
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, 
      #{date,jdbcType=TIMESTAMP}, #{number,jdbcType=INTEGER}, #{comment,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zju.sms.record.domain.UserRechargeRecord" >
    update `userrechargerecord`
    set userId = #{userId,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP},
      number = #{number,jdbcType=INTEGER},
      comment = #{comment,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, userId, type, date, number, comment
    from `userrechargerecord`
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, userId, type, date, number, comment
    from `userrechargerecord`
  </select>
</mapper>