<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zju.sms.manager.mapper.DeductionMapper" >
  <resultMap id="BaseResultMap" type="com.zju.sms.manager.domain.Deduction" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="from" property="from" jdbcType="INTEGER" />
    <result column="to" property="to" jdbcType="INTEGER" />
    <result column="percent" property="percent" jdbcType="DOUBLE" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from `deduction`
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zju.sms.manager.domain.Deduction" useGeneratedKeys="true" keyProperty="id" >
    insert into `deduction` (from, to, percent, 
      date)
    values (#{from,jdbcType=INTEGER}, #{to,jdbcType=INTEGER}, #{percent,jdbcType=DOUBLE}, 
      #{date,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zju.sms.manager.domain.Deduction" >
    update `deduction`
    set from = #{from,jdbcType=INTEGER},
      to = #{to,jdbcType=INTEGER},
      percent = #{percent,jdbcType=DOUBLE},
      date = #{date,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, from, to, percent, date
    from `deduction`
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, from, to, percent, date
    from `deduction`
  </select>
</mapper>