<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zju.sms.manager.mapper.MessageTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.zju.sms.manager.domain.MessageTemplate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userId" property="userId" jdbcType="INTEGER" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="context" property="context" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from `messagetemplate`
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zju.sms.manager.domain.MessageTemplate" useGeneratedKeys="true" keyProperty="id" >
    insert into `messagetemplate` (userId, category, context, 
      date)
    values (#{userId,jdbcType=INTEGER}, #{category,jdbcType=VARCHAR}, #{context,jdbcType=VARCHAR}, 
      #{date,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zju.sms.manager.domain.MessageTemplate" >
    update `messagetemplate`
    set userId = #{userId,jdbcType=INTEGER},
      category = #{category,jdbcType=VARCHAR},
      context = #{context,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, userId, category, context, date
    from `messagetemplate`
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, userId, category, context, date
    from `messagetemplate`
  </select>
</mapper>