<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zju.sms.manager.mapper.SystemConfigureMapper" >
  <resultMap id="BaseResultMap" type="com.zju.sms.manager.domain.SystemConfigure" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="startTime" property="startTime" jdbcType="TIME" />
    <result column="endTime" property="endTime" jdbcType="TIME" />
    <result column="keyword" property="keyword" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from `systemconfigure`
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zju.sms.manager.domain.SystemConfigure" useGeneratedKeys="true" keyProperty="id" >
    insert into `systemconfigure` (startTime, endTime, keyword
      )
    values (#{startTime,jdbcType=TIME}, #{endTime,jdbcType=TIME}, #{keyword,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zju.sms.manager.domain.SystemConfigure" >
    update `systemconfigure`
    set startTime = #{startTime,jdbcType=TIME},
      endTime = #{endTime,jdbcType=TIME},
      keyword = #{keyword,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, startTime, endTime, keyword
    from `systemconfigure`
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, startTime, endTime, keyword
    from `systemconfigure`
  </select>
</mapper>