<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zju.sms.manager.mapper.whitelistMapper" >
  <resultMap id="BaseResultMap" type="com.zju.sms.manager.domain.whitelist" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userId" property="userId" jdbcType="INTEGER" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from `whitelist`
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zju.sms.manager.domain.whitelist" useGeneratedKeys="true" keyProperty="id" >
    insert into `whitelist` (userId, comment, content
      )
    values (#{userId,jdbcType=INTEGER}, #{comment,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zju.sms.manager.domain.whitelist" >
    update `whitelist`
    set userId = #{userId,jdbcType=INTEGER},
      comment = #{comment,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, userId, comment, content
    from `whitelist`
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, userId, comment, content
    from `whitelist`
  </select>
</mapper>