<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <context id="mysql" defaultModelType="hierarchical" targetRuntime="MyBatis3Simple">
        <property name="javaFileEncoding" value="UTF-8"/>
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>

        <!--生成的domain实现序列化接口并带序列化ID-->
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>

        <commentGenerator>
            <property name="suppressDate" value="true"/>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>
        
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/sms"
                        userId="root"
                        password="admin">
        </jdbcConnection>

        <!--domian生成-->
        <!--targetPackage：类所在的包目录； targetProject：生成到那个文件目录-->
        <!--<javaModelGenerator targetPackage="com.zju.sms.manager.domain" targetProject="..\sms-manager\sms-manager-domain\src\main\java">-->
        <javaModelGenerator targetPackage="com.zju.sms.record.domain" targetProject="..\sms-record\sms-record-domain\src\main\java">
            <property name="enableSubPackages" value="true"/>
        </javaModelGenerator>

        <!--Xxxmapper.xml文件生成-->
        <!--<sqlMapGenerator targetPackage="com.zju.sms.manager.mapper" targetProject="../sms-manager/sms-manager-dao/src/main/java">-->
        <sqlMapGenerator targetPackage="com.zju.sms.record.mapper" targetProject="../sms-record/sms-record-dao/src/main/java">
        <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <!--mapper接口生成-->
        <!--<javaClientGenerator type="XMLMAPPER" targetPackage="com.zju.sms.manager.mapper" targetProject="../sms-manager/sms-manager-dao/src/main/java">-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.zju.sms.record.mapper" targetProject="../sms-record/sms-record-dao/src/main/java">
        <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>
<!--

        <table tableName="user" delimitIdentifiers="true" domainObjectName="User">
            <property name="useActualColumnNames" value="true"/>
            &lt;!&ndash;<generatedKey column="id" sqlStatement="JDBC"/>&ndash;&gt;
        </table>

        <table tableName="messageTemplate" delimitIdentifiers="true" domainObjectName="MessageTemplate">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" sqlStatement="JDBC"/>
        </table>
        <table tableName="templateCategory" delimitIdentifiers="true" domainObjectName="TemplateCategory">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" sqlStatement="JDBC"/>
        </table>

        <table tableName="messageDraft" delimitIdentifiers="true" domainObjectName="MessageDraft">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" sqlStatement="JDBC"/>
        </table>
        <table tableName="contact" delimitIdentifiers="true" domainObjectName="Contact">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" sqlStatement="JDBC"/>
        </table>
        <table tableName="contactCategory" delimitIdentifiers="true" domainObjectName="ContactCategory">
            <property name="useActualColumnNames" value="true"/>
            &lt;!&ndash;<generatedKey column="id" sqlStatement="JDBC"/>&ndash;&gt;
        </table>

        <table tableName="mail" delimitIdentifiers="true" domainObjectName="Mail">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" sqlStatement="JDBC"/>
        </table>
        <table tableName="invoiceInfo" delimitIdentifiers="true" domainObjectName="InvoiceInfo">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" sqlStatement="JDBC"/>
        </table>
        <table tableName="advice" delimitIdentifiers="true" domainObjectName="Advice">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" sqlStatement="JDBC"/>
        </table>
        <table tableName="agent" delimitIdentifiers="true" domainObjectName="Agent">
            <property name="useActualColumnNames" value="true"/>
            &lt;!&ndash;<generatedKey column="id" sqlStatement="JDBC"/>&ndash;&gt;
        </table>

        <table tableName="admin" delimitIdentifiers="true" domainObjectName="Admin">
            <property name="useActualColumnNames" value="true"/>
            &lt;!&ndash;<generatedKey column="id" sqlStatement="JDBC"/>&ndash;&gt;
        </table>
        <table tableName="rechargeSolution" delimitIdentifiers="true" domainObjectName="RechargeSolution">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" sqlStatement="JDBC"/>
        </table>
        <table tableName="announcement" delimitIdentifiers="true" domainObjectName="Announcement">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" sqlStatement="JDBC"/>
        </table>
        <table tableName="deduction" delimitIdentifiers="true" domainObjectName="Deduction">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" sqlStatement="JDBC"/>
        </table>
        <table tableName="systemConfigure" delimitIdentifiers="true" domainObjectName="SystemConfigure">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" sqlStatement="JDBC"/>
        </table>
        <table tableName="phoneLib" delimitIdentifiers="true" domainObjectName="PhoneLib">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" sqlStatement="JDBC"/>
            <columnOverride column="phone" jdbcType="VARCHAR"/>
        </table>
        <table tableName="phoneLibCategory" delimitIdentifiers="true" domainObjectName="PhoneLibCategory">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" sqlStatement="JDBC"/>
        </table>
        <table tableName="channel" delimitIdentifiers="true" domainObjectName="Channel">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" sqlStatement="JDBC"/>
        </table>

        <table tableName="keyword" delimitIdentifiers="true" domainObjectName="Keyword">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" sqlStatement="JDBC"/>
        </table>

        <table tableName="blacklist" delimitIdentifiers="true" domainObjectName="Blacklist">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" sqlStatement="JDBC"/>
        </table>
        <table tableName="whitelist" delimitIdentifiers="true" domainObjectName="whitelist">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" sqlStatement="JDBC"/>
        </table>
        <table tableName="permission" delimitIdentifiers="true" domainObjectName="Permission">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" sqlStatement="JDBC"/>
        </table>
        <table tableName="admin_permission" delimitIdentifiers="true" domainObjectName="AdminPermission">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" sqlStatement="JDBC"/>
        </table>
-->


        <table tableName="sendRecord" delimitIdentifiers="true" domainObjectName="SendRecord">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" sqlStatement="JDBC"/>
            <columnOverride column="phone" jdbcType="VARCHAR"/>
        </table>
        <table tableName="receiveRecord" delimitIdentifiers="true" domainObjectName="ReceiveRecord">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" sqlStatement="JDBC"/>
        </table>
        <table tableName="userRechargeRecord" delimitIdentifiers="true" domainObjectName="UserRechargeRecord">
            <property name="useActualColumnNames" value="true"/>
            <!--<generatedKey column="id" sqlStatement="JDBC"/>-->
        </table>
        <table tableName="expenseRecord" delimitIdentifiers="true" domainObjectName="ExpenseRecord">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" sqlStatement="JDBC"/>
        </table>
        <table tableName="agentRechargeRecord" delimitIdentifiers="true" domainObjectName="AgentRechargeRecord">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" sqlStatement="JDBC"/>
        </table>

    </context>
</generatorConfiguration>